# OS
.DS_Store

# PHP / Composer
/vendor/
composer.lock
.phpunit.result.cache

# SQLite databases
/data/*.sqlite
/data/*.sqlite3
/data/*.db

# Node
/node_modules/
npm-debug.log*

# Editors/IDE
.vscode/
.idea/
